
.icons
{
    height: 25px;
    border-left: 1px solid gray;
    display: flex;
    align-items: center;
    margin-left:10px;
}
.icons2 
{
    color: black;
}
.navbar1
{
    border-bottom: 1px solid;
    /* background-color: rgb(171, 30, 30); */
}
.fs
{
    font-size: 18px;
    
}